@{
    ViewData["Title"] = "Index";
}

<link href="@Url.Content("~/css/styles.css")" rel="stylesheet" />
<link rel="icon" href="@Url.Content("~/images/favicon.png")" />

<form>
    Location: <input required type="text" name="location" formmethod="post" />
    <input type="submit" value="Submit" formmethod="post">
</form>

<div class="weather-box">
    <h2>@Model.location.City</h2>
    <h1>@Model.weather.Weather</h1>
    <h3 class="temperature">@Model.weather.Temperature° F</h3>
    <p class="weather-description">@Model.weather.Description</p>
    <p id="last-updated">Last Updated: @Model.weather.LastUpdated</p>
</div>
